.submitBtn{
	width: 100%;
}
.text{
	background-color: #FFFFCC;
}
.myform{
	padding: 10px;
	background-color: #F8F8F8;
}
.prompt{
	text-align: center;
}
body{ 
	background: #000;
}
#showArea{ 
	margin: 10px;
	width: auto;
	height: 550px;
	border-radius: 4px;
	text-align: center;
}
#siteArea{
	width: 15%;
	height: 100%;
	float: left;
	padding: 10px;
	background: #F0F0F0;
	border: 4px solid #888888;
	word-wrap: break-word;
}
#siteArea div{
	margin-top: 10px;
}
#folderArea{
	margin-left: 16%;
	width: 84%;
	height: 100%;
	padding: 10px;
	overflow: auto;
	background-color: #000;
	border: 4px solid #888888;
	border-radius: 4px;
}
.site{
	padding: 15px;
	height: 100%;
	text-align: left;
	background-color: #D8D8D8;
	display:none;
}

.launchTower em{
	width: 90px;
	height: 90px; 
	margin: 200px auto;
	background: url(/static/images/eye.png) no-repeat center center;
	cursor: pointer;
	display: block;
	position: relative;
}
.launchTower em:after { 
	content: ''; 
	position: absolute;
	width: 600px;
	height: 300px; 
	border-radius: 50%; 
	box-shadow: 0 0 1px 2px rgba(0, 255, 0, 1.0); 
	top: 60%;
	left: 50%;
	margin-top: -160px;
	margin-left: -320px; 
	z-index: 3; 
	opacity: 0; 
	-webkit-animation: halo 1s 0.5s infinite ease-out; 
	-moz-animation: halo 1s 0.5s infinite ease-out; 
	animation: halo 1s infinite ease-out; 
}
@-webkit-keyframes halo { 
	0% { opacity: 0;-webkit-transform: scale(0.1); }
	50% {opacity: 1; }
	100%{opacity: 0;-webkit-transform: scale(1.2); } 
}
@-moz-keyframes halo {
	0% { opacity: 0; -moz-transform: scale(0.1); }
	50% { opacity: 1; }
	100%{ opacity: 0; -moz-transform: scale(1.2); } 
}
@-ms-keyframes halo {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100%{opacity: 0; } 
}
@-o-keyframes halo {
	0%{ opacity: 0; -o-transform: scale(1.1); }
	50%{ opacity: 1; }
	100%{ opacity: 0;-o-transform: scale(1.2); } 
}
@keyframes halo {
	0% { opacity: 0; transform: scale(0.1); }
	50% {opacity: 1; }
	100%{opacity: 0;transform: scale(1.2); } 
}